{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{{judul}} &bull; Playverse UCP</title>
    <!-- Favicon-->
    <link rel="icon" href="https://forum.playverse.org/favicon.ico" type="image/x-icon">

    {% include "snippets/css.html" %}
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="{% url 'main:index' %}">
                    <table style="margin-top: -5px;">
                        <tr>
                            <td>
                                <img alt="icon" src="https://i.ibb.co/gWGgmjX/logo-pv.png" width="30px">
                            </td>
                            <td width="10px"></td>
                            <td>
                                Playverse &bull; UCP
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{{ 'https://forum.playverse.org/'|add:request.session.avatar }}" width="48" height="48" alt="User" onerror="this.onerror=null; this.src=`https://forum.playverse.org/images/default_avatar.png`;"/>
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.session.username }}</div>
                    <div class="email">{{ request.session.email }}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'main:logout' %}"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="{% if request.path == '/' %}active{% endif %}">
                        <a href="{% url 'main:index' %}">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="{% if request.path == '/akun-samp/' %}active{% endif %}">
                        <a href="{% url 'main:akun_samp' %}">
                            <i class="material-icons">account_circle</i>
                            <span>Akun SA:MP</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    Control Panel &copy; 2020 &bull; <a href="https://playverse.org/">Playverse Group</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 0.0.1 Alpha
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>{{judul}}</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert bg-{{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock content %}
            </div>
            <!-- #END# Widgets -->
        </div>
    </section>

    {% include "snippets/scripts.html" %}
</body>

</html>