{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <table>
                        <tr>
                            <td width="40px"><i class="material-icons col-red">lock</i></td>
                            <td>{{ judul }}</td>
                        </tr>
                    </table>
                </h2>
            </div>
            <div class="body">
                <form action="/akun-samp/change-password/" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <label for="old_password">Password (Akun Forum)</label>
                            <input type="password" class="form-control" name="old_password" placeholder="Ketikan Password (Akun Forum)" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <label for="new_password">Password Baru</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Password baru anda" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <label for="confirm_password">Konfirmasi Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Ketik ulang Password baru" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect"><i class="material-icons">save</i> <span>Simpan Password</span></button>
                        </div>
                    </div>                
                </form>  
            </div>
        </div>
    </div>
</div>
{% endblock content %}