{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{{judul}} &bull; Playverse UCP</title>
    <link rel="icon" href="https://forum.playverse.org/favicon.ico" type="image/x-icon">

    {% include "snippets/css.html" %}
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo" style="padding-top: 10px;">
            <a style="margin-bottom: 30px;" href="">Playverse <img src="{% static 'images/logo.png' %}" alt="" width="50px"> <b>UCP</b></a>
            <small>Bermain dengan kendali penuh pada akun anda.</small>
        </div>
        <div class="card">
            <div class="body">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert bg-{{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                Silahkan login menggunakan akun <a href="https://forum.playverse.org/">forum</a>.
                <br/><br/>

                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">LOGIN</button>
                        </div>
                    </div>                
                </form>                
            </div>
        </section>

        {% include "snippets/scripts.html" %}
    </body>

</html>