{% extends "rank-base.html" %}

{% load humanize %}

{% block first_place %}
<tr>
    <td>Level</td>
    <td>{{ first.score|intcomma }}</td>
</tr>
<tr>
    <td>Exp</td>
    <td>{{ first.exp_score|intcomma }}
        {% ifequal first.nama_ranked '<b style="color: red;">Legend</b>' %}
        <b class="animated flash infinite text-warning">(Max)</b>
        {% endifequal %}
    </td>
</tr>
<tr>
    <td>Nama Rank</td>
    <td>{{ first.nama_ranked|safe }}</td>
</tr>
{% endblock first_place %}

{% block more_place %}
<tr>
    <td>Level</td>
    <td>{{ i.score|intcomma }}</td>
</tr>
<tr>
    <td>Exp</td>
    <td>
        {{ i.exp_score|intcomma }}
        {% ifequal i.nama_ranked '<b style="color: red;">Legend</b>' %}
        <b class="animated flash infinite text-warning">(Max)</b>
        {% endifequal %}
    </td>
</tr>
<tr>
    <td>Nama Rank</td>
    <td>{{ i.nama_ranked|safe }}</td>
</tr>
{% endblock more_place %}