{% extends "rank-base.html" %}

{% load humanize %}

{% block first_place %}
<tr>
    <td>Menggali</td>
    <td>{{ first.bertambang|intcomma }}</td>
</tr>
<tr>
    <td>Berlian</td>
    <td>{{ first.berlian|intcomma }}</td>
</tr>
<tr>
    <td>Emas</td>
    <td>{{ first.emas|intcomma }}</td>
</tr>
<tr>
    <td>Aluminium</td>
    <td>{{ first.aluminium|intcomma }}</td>
</tr>
<tr>
    <td>Perak</td>
    <td>{{ first.perak|intcomma }}</td>
</tr>
<tr>
    <td>Besi</td>
    <td>{{ first.besi|intcomma }}</td>
</tr>
<tr>
    <td>Batu Bara</td>
    <td>{{ first.batu_bara|intcomma }}</td>
</tr>
<tr>
    <td>Batu Bata</td>
    <td>{{ first.batu_bata|intcomma }}</td>
</tr>
{% endblock first_place %}

{% block more_place %}
<tr>
    <td>Menggali</td>
    <td>{{ i.bertambang|intcomma }}</td>
</tr>
<tr>
    <td>Berlian</td>
    <td>{{ i.berlian|intcomma }}</td>
</tr>
<tr>
    <td>Emas</td>
    <td>{{ i.emas|intcomma }}</td>
</tr>
<tr>
    <td>Aluminium</td>
    <td>{{ i.aluminium|intcomma }}</td>
</tr>
<tr>
    <td>Perak</td>
    <td>{{ i.perak|intcomma }}</td>
</tr>
<tr>
    <td>Besi</td>
    <td>{{ i.besi|intcomma }}</td>
</tr>
<tr>
    <td>Batu Bara</td>
    <td>{{ i.batu_bara|intcomma }}</td>
</tr>
<tr>
    <td>Batu Bata</td>
    <td>{{ i.batu_bata|intcomma }}</td>
</tr>
{% endblock more_place %}