{% extends 'rank-base.html' %}

{% block first_place %}
<tr>
    <td>Jam</td>
    <td>{{ first.h }}</td>
</tr>
<tr>
    <td>Menit</td>
    <td>{{ first.m }}</td>
</tr>
<tr>
    <td>Detik</td>
    <td>{{ first.s }}</td>
</tr>
<tr>
    <td>Tanggal Register</td>
    <td>
        {{ first.join_date }}
    </td>
</tr>
{% endblock first_place %}


{% block more_place %}
<tr>
    <td>Jam</td>
    <td>{{ i.h }}</td>
</tr>
<tr>
    <td>Menit</td>
    <td>{{ i.m }}</td>
</tr>
<tr>
    <td>Detik</td>
    <td>{{ i.s }}</td>
</tr>
<tr>
    <td colspan="2">Tanggal Register</td>
</tr>
<tr>
    <td colspan="2">
        {{ i.join_date }}
    </td>
</tr>
{% endblock more_place %}